@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient{
    background: rgb(1,74,74);
background: linear-gradient(90deg, rgba(1,74,74,1) 0%, rgba(13,133,145,1) 19%, rgba(56,176,134,1) 47%, rgba(33,141,194,1) 81%, rgba(22,196,231,1) 100%);
}

:root {
    background-color: aliceblue;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
